In [2]:
# Importong the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv("/content/customer_signups.csv")

print(df.head())

df.info()

  customer_id             name                 email signup_date     source  \
0   CUST00000    Joshua Bryant                   NaN         NaN  Instagram
1   CUST00001   Nicole Stewart   nicole1@example.com    02-01-24   LinkedIn
2   CUST00002     Rachel Allen   rachel2@example.com    03-01-24     Google
3   CUST00003  Zachary Sanchez  zachary3@mailhub.org    04-01-24    YouTube
4   CUST00004              NaN  matthew4@mailhub.org    05-01-24   LinkedIn

  region plan_selected marketing_opt_in age      gender
0    NaN         basic               No  34      Female
1   West         basic              Yes  29        Male
2  North       PREMIUM              Yes  34  Non-Binary
3    NaN           Pro               No  40        Male
4   West       Premium               No  25       Other
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

In [20]:
print(df.isnull().sum())

customer_id          2
name                 9
email               34
signup_date          2
source               9
region              30
plan_selected        8
marketing_opt_in    10
age                 12
gender               8
dtype: int64

In [21]:
# Show first 5 rows
print("\n--- First 5 Rows ---")
print(df.head())

# Show column structure and data types
print("\n--- Column Info ---")
print(df.info())

# Count missing values in each column
print("\n--- Missing Values ---")
print(df.isnull().sum())

# % of missing values (to understand better)
print("\n--- % of Missing Values ---")
print((df.isnull().mean() * 100).round(2))

--- First 5 Rows ---
  customer_id             name                 email signup_date     source  \
0   CUST00000    Joshua Bryant                   NaN         NaN  Instagram
1   CUST00001   Nicole Stewart   nicole1@example.com    02-01-24   LinkedIn
2   CUST00002     Rachel Allen   rachel2@example.com    03-01-24     Google
3   CUST00003  Zachary Sanchez  zachary3@mailhub.org    04-01-24    YouTube
4   CUST00004              NaN  matthew4@mailhub.org    05-01-24   LinkedIn

  region plan_selected marketing_opt_in age      gender
0    NaN         basic               No  34      Female
1   West         basic              Yes  29        Male
2  North       PREMIUM              Yes  34  Non-Binary
3    NaN           Pro               No  40        Male
4   West       Premium               No  25       Other

--- Column Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB
None

--- Missing Values ---
customer_id          2
name                 9
email               34
signup_date          2
source               9
region              30
plan_selected        8
marketing_opt_in    10
age                 12
gender               8
dtype: int64

--- % of Missing Values ---
customer_id          0.67
name                 3.00
email               11.33
signup_date          0.67
source               3.00
region              10.00
plan_selected        2.67
marketing_opt_in     3.33
age                  4.00
gender               2.67
dtype: float64